// ============================================================ //
//                          Vuetify variables                   //
// ============================================================ //
$color-pack := true

// ============================================================ //
//                          Grid                                //
// ============================================================ //
$grid-breakpoints := {
  xs: 0
  sm: 600px
  md: 960px
  lg: (1280px - 16px)
  xl: (1920px - 16px)
}

$grid-gutter := 8px
$grid-columns := 12
$grid-gutters := {
  xs: ($grid-gutter / 4)
  sm: ($grid-gutter / 2)
  md: $grid-gutter
  lg: ($grid-gutter * 2)
  xl: ($grid-gutter * 3)
}

$container-max-widths := {
  md: $grid-breakpoints.md
  lg: $grid-breakpoints.lg
  xl: $grid-breakpoints.xl
}
